body {
background-image: linear-gradient( gray, white, gray)
}
#demo {
    font-size: small;
    color: white;
}

h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
    font-size: 40px;
    padding: 5px;
    opacity: 0.8;
    border-radius: 25px;
}
h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    background-color: white;
    opacity: 0.5;
    text-align: right;
    padding: 5px;
    border-radius: 20px;
}

strong {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Summary {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: darkslateblue;
    text-align: justify;
    padding-left: 30px;

}

.Awards {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: darkslateblue;
    text-align: justify;
    padding-left: 40px;
}

img {
width: 200px;
padding-left: 3px;
border-radius: 20px;
border-style: dotted;
border-color:darkslateblue;
}

hr {
    height: 1px;
    border: none;
    background-color: darkslateblue;  
}

footer {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    opacity: 50%;
}

